/* jQuery UI overlay overrides */
.ui-dialog.scotia-video-dialog {
    background: transparent;
    position: absolute;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.ui-dialog.scotia-video-dialog .ui-dialog-titlebar, .ui-dialog .ui-dialog-content {
    position: relative;
}
.ui-dialog.scotia-video-dialog .overlay {
    border: none;
    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;
}
.scotia-video-dialog .ui-dialog-titlebar {
    background: #f1f1f1;
    height: 38px;
}
.scotia-video-dialog .ui-dialog-titlebar .ui-dialog-title {
    line-height: 55px;
    font-size: 2em;
    font-weight:bold;
    color: #666;
    padding-left: 20px;
}

.scotia-video-dialog .ui-dialog-title {
    visibility: hidden;
}

.scotia-video-dialog .ui-dialog-titlebar-close {
    position: absolute;
    z-index: 30;
    display; block;
    overflow:hidden;
    background: url('/rd/gfx/btn-overlay-close.png') no-repeat 0px 0px;
    width: 30px;
    height: 30px;
    right: 5px;
    top: 5px;
    margin: 0;
    text-indent: -999em;
}

.scotia-video-dialog .ui-dialog-titlebar-close:hover,
.scotia-video-dialog .ui-dialog-titlebar-close:focus {
    background: url('/rd/gfx/btn-overlay-close.png') no-repeat 0px 0px;
}

#ie7 .scotia-video-dialog .ui-dialog-titlebar-close {
    margin-top:0;
    top: 0;
}

.scotia-video-dialog .ui-dialog-titlebar-close:hover, .scotia-video-dialog .ui-dialog-titlebar-close:hover,
.scotia-video-dialog .ui-dialog-titlebar-close:hover, .scotia-video-dialog .ui-dialog-titlebar-close:focus {
     background: url('/rd/gfx/btn-overlay-close.png') no-repeat 0px -30px;
}

/*  overlay styles  ------------------------------------------------------------ */
.scotia-video-dialog .youtube-overlay {
    background: #fff;
    height: 440px !important;
    padding: 25px;
    border: 5px solid #f1f1f1;
}
.scotia-video-dialog .youtube-overlay .position {
    font-size: 1.6em;
    color: #000;
}
.scotia-video-dialog .youtube-overlay h2 {
    color: #D81E05;
    font-size: 22px;
    font-weight: normal;
    margin-bottom: 10px;
}
/*.scotia-video-dialog .youtube-overlay .career-video,*/
.scotia-video-dialog .youtube-overlay .career-video-transcript {
    display: none;
    visibility: hidden;
}
.scotia-video-dialog #ie8 .youtube-overlay .career-video-transcript {
    visibility: visible;
}

.scotia-video-dialog .youtube-overlay.show-video .career-video,
.scotia-video-dialog .youtube-overlay.show-transcript-en .career-video-transcript,
.scotia-video-dialog .youtube-overlay.show-transcript-fr .career-video-transcript,
.scotia-video-dialog .youtube-overlay.show-transcript-es .career-video-transcript,
.scotia-video-dialog .youtube-overlay.show-transcript-cn .career-video-transcript {
    display: block;
    visibility: visible;
}

.scotia-video-dialog .youtube-overlay.show-transcript-en .career-video,
.scotia-video-dialog .youtube-overlay.show-transcript-fr .career-video,
.scotia-video-dialog .youtube-overlay.show-transcript-es .career-video,
.scotia-video-dialog .youtube-overlay.show-transcript-cn .career-video {
    display: none;
    visibility: hidden;
}
.scotia-video-dialog .youtube-overlay .career-video .duration {
    display: block;
    font-size: 1.2em;
}
.scotia-video-dialog .youtube-overlay .career-video .youtube-player {
    position: absolute;
    left: 25px;
    top: 80px;
}
.scotia-video-dialog .youtube-overlay .career-video .copy {
    width: 255px;
    border-bottom: 1px solid #c6c6c6;
    margin-left: 665px;
    margin-bottom: 50px;
    padding-bottom: 10px;
    font-size: 10px;
}
.scotia-video-dialog .youtube-overlay .career-video .job-centre {
    width: 255px;
    margin-left: 665px;
    font-size: 1.2em;
}
.scotia-video-dialog .youtube-overlay .career-video .job-centre .red-btn {
    display: inline-block;
    padding: 0.1em 2em;
    font-size: 1.2em;
    font-weight:bold;
    margin-top: 17px;
}
.scotia-video-dialog .youtube-overlay .copy p {
    font-size: 1.4em;
    color: #666;
    margin-bottom: 1em;
}
.scotia-video-dialog .youtube-overlay .transcripts {
    font-size: 12px;
    width: 255px;
    position: absolute;
    right: 25px;
    bottom: 25px;
}
.scotia-video-dialog .youtube-overlay .transcripts a {
    display: inline-block;
    margin-right: 15px;
    margin-top: 5px;
}
.scotia-video-dialog .youtube-overlay .career-video-transcript {
    position: absolute;
    top: 80px;
    left: 25px;
    width: 920px;
    padding: 10px 0;
    border-top: 1px solid #c6c6c6;
    border-bottom: 1px solid #c6c6c6;
}
.scotia-video-dialog .youtube-overlay .career-video-transcript h2 {
    margin-bottom: 0;
}
.scotia-video-dialog .youtube-overlay .career-video-transcript .transcripts {
    right: auto;
    bottom: auto;
    top: -37px;
    left: 290px;
    width: auto;
}
.scotia-video-dialog .youtube-overlay .career-video-transcript .transcripts a {
    margin-right: 0;
    margin-left: 15px;
}
.scotia-video-dialog .youtube-overlay .career-video-transcript .copy {
    display: none;
    height: 315px;
    overflow: hidden;
    overflow-y: auto;
    padding-right: 5px;
}

.scotia-video-dialog .youtube-overlay .career-video-transcript .copy .transcript-anchor-wrap {
      display: block;
      height: 255px;
      width: 880px;
      border: none;
      padding: 1em;
      overflow-y: auto;
      margin: 10px 0px 0px 3px;
}

.scotia-video-dialog .youtube-overlay.show-transcript-en .career-video-transcript .copy.en,
.scotia-video-dialog .youtube-overlay.show-transcript-fr .career-video-transcript .copy.fr,
.scotia-video-dialog .youtube-overlay.show-transcript-es .career-video-transcript .copy.es,
.scotia-video-dialog .youtube-overlay.show-transcript-cn .career-video-transcript .copy.cn {
    display: block;
}
.scotia-video-dialog .youtube-overlay .career-video-transcript .red-btn {
    position: absolute;
    bottom: -45px;
    left: 0;
    top: initial;
    display: inline-block;
    padding: 0em 1em;
    font-size: 1.1em;
    font-weight:bold;
    margin-top: 17px;
}

.scotia-video-dialog .youtube-overlay .career-video-transcript .red-btn:focus {
    top: auto;
}

.scotia-video-dialog .youtube-overlay .career-video-transcript .addthis_button {
    position: absolute;
    bottom: -30px;
    right: 0;
}

/*----------------------------------------------------------------------------------------*/

.player-controls {
    float: right;
    width:270px;
}
.player-controls .video-button:hover,
.player-controls .video-button:focus {
    color: #971504;
}

.player-controls .video-button {
    float: left;
    margin-left: 1em;
    color: #D81E05;
    text-decoration: none;
}


